---
swagger: "2.0"
info:
  description: "API que provê acesso aos usuários do sistema"
  version: "0.0.1"
  title: "Lista de Usuários"
  contact:
    name: "Denilso"
    email: "denilso.brustelo@gmail.com"
host: "api.meusite.com"
basePath: "/v1"
schemes:
- "https"
produces:
- "application/json"
paths:
  /users:
    get:
      tags:
      - "Users"
      summary: "Lista os Usuários"
      description: "Este endpoint retorna **todos os usuários** cadastrados no sistema.\n"
      parameters: []
      responses:
        200:
          description: "Uma lista (array) de usuários"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/User"
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Users"
      summary: "Criar um Usuário"
      description: "Este endpoint cadastra um usuário no sistema.\n"
      parameters:
      - in: "body"
        name: "user"
        description: "Usuário"
        required: true
        schema:
          $ref: "#/definitions/Error"
      responses:
        201:
          description: "Usuário cadastrado com sucesso!!!"
          schema:
            $ref: "#/definitions/User"
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
    put:
      tags:
      - "Users"
      summary: "Atualiza um Usuário"
      description: "Este endpoint atualiza um usuário no sistema. O Id do usuário\
        \ deve ser informado\n"
      parameters:
      - in: "body"
        name: "user"
        description: "Usuário"
        required: true
        schema:
          $ref: "#/definitions/Error"
      responses:
        200:
          description: "Usuário atualizado com sucesso!!!"
          schema:
            $ref: "#/definitions/User"
        404:
          description: "Usuário não encontrado"
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
    patch:
      tags:
      - "Users"
      summary: "Atualiza um Usuário"
      description: "Este endpoint atualiza um usuário no sistema. O Id do usuário\
        \ deve ser informado\n"
      parameters:
      - in: "body"
        name: "user"
        description: "Usuário"
        required: true
        schema:
          $ref: "#/definitions/Error"
      responses:
        200:
          description: "Usuário atualizado com sucesso!!!"
          schema:
            $ref: "#/definitions/User"
        404:
          description: "Usuário não encontrado"
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
  /users/{id}:
    get:
      tags:
      - "Users"
      summary: "Lista os Usuários"
      description: "Este endpoint retorna **apenas um** usuário.\n"
      parameters:
      - name: "id"
        in: "path"
        description: "Id do usuário"
        required: true
        type: "integer"
      responses:
        200:
          description: "Usuário encontrado !!!"
          schema:
            $ref: "#/definitions/User"
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
    delete:
      tags:
      - "Users"
      summary: "Apagar um usuário"
      description: "Este endpoint apaga um usuário pelo ID.\n"
      parameters:
      - name: "id"
        in: "path"
        description: "Id do usuário"
        required: true
        type: "integer"
      responses:
        200:
          description: "Usuário excluído com sucesso !!!"
        404:
          description: "Usuário não encontrado"
        410:
          description: "Esse usuário não existe mais."
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
definitions:
  User:
    type: "object"
    required:
    - "email"
    - "name"
    properties:
      id:
        type: "integer"
        description: "Código do usuário."
      email:
        type: "string"
        description: "Email do usuário."
      name:
        type: "string"
        description: "Nome do usuário."
    example:
      name: "name"
      id: 0
      email: "email"
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
    example:
      code: 0
      message: "message"
      fields: "fields"
